<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container py-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>File Upload Status</h1>
      <!--display error if any-->
      <div class="alert alert-danger" role="alert" th:if="${!status}">
          <strong>Error</strong>
          <span th:text="${message}"></span>
      </div>

      <!--display numbers list-->
      <table class="table table-striped" th:if="${status}">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Number</th>
          <th scope="col">Definition</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="number, i : ${numbers}">
          <th scope="row" th:text="${i.index + 1}"></th>
          <td th:text="${number.id}"></td>
          <td th:text="${number.number}"></td>
          <td th:text="${number.definition}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>